<!doctype html>
<html ng-app="phonebookApp">
<head>
    <meta charset="utf-8">
    <!--Library scripts-->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/ui-bootstrap-tpls.js"></script>
    <script src="lib/angular/angular-animate.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <!--App scripts-->
    <script src="js/controllers.js"></script>

    <title>Телефонный справочник</title>
</head>
<body> 

    <script type="text/ng-template" id="modal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{mdlictrl.windowTitle}}</h3>
        </div>
        <div class="modal-body row" id="modal-body">
            <form name="frmSubscriber" novalidate>
                <input type="hidden" ng-model="mdlictrl.subscriber.id" name="uid" />
                <div class="form-group col-sm-6">
                    <label for="uname" class="control-label">Имя абонента</label>
                    <input type="text" class="form-control" ng-model="mdlictrl.subscriber.name" name="uname" placeholder="" required />
                    <span class="error" ng-show="(frmSubscriber.$dirty||submitted) && frmSubscriber.uname.$error.required">
                        Необходимо указать имя абонента!
                    </span>
                </div>
                <div class="form-group col-sm-6">
                    <label for="phone" class="control-label">Номер телефона абонента</label>
                    <input type="text" class="form-control" ng-model="mdlictrl.subscriber.phoneNumber" name="phone" placeholder="" required />
                    <span class="error" ng-show="(frmSubscriber.$dirty ||submitted) && frmSubscriber.phone.$error.required">
                        Необходимо указать номер телефона абонента
                    </span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="mdlictrl.reset()" ng-If="mdlictrl.subscriber.id > 0">Восстановить</button>
            <button class="btn btn-danger" type="button" ng-click="mdlictrl.reset()" ng-If="mdlictrl.subscriber.id == 0">Очистить</button>
            <button class="btn btn-primary" type="button" ng-disabled="frmSubscriber.$invalid" ng-click="mdlictrl.ok()">Отправить</button>
            <button class="btn btn-warning" type="button" ng-click="mdlictrl.cancel()">Отмена</button>
        </div>
    </script>

    <div ng-controller="PhonebookListCtrl" class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3>{{title}}</h3>
                <input type="text" ng-model="query">
                <table style="width:100%" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-1">#</th>
                            <th class="col-sm-1">
                                <a href="" ng-click="sort('name')">
                                    Имя
                                    <i class="glyphicon" ng-class="{
                                       'glyphicon-chevron-up' : isSortUp('name'),
                                       'glyphicon-chevron-down' : isSortDown('name')}">
                                    </i>
                                </a>
                            </th>
                            <th class="col-sm-2">
                                <a href="" ng-click="sort('phoneNumber')">
                                    Номер
                                    <i class="glyphicon" ng-class="{
                                       'glyphicon-chevron-up' : isSortUp('phoneNumber'),
                                       'glyphicon-chevron-down' : isSortDown('phoneNumber')}">
                                    </i>
                                </a>
                            </th>
                            <th class="col-sm-2">Опции</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in (subscriberFun = (subscriberList | filter:query | orderBy:sortField:reverse))
                            .slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <td>{{ $index+1 }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.phoneNumber }}</td>
                            <td>
                                <a href="#" ng-controller="ModalCtrl" ng-click="update_open()" title="Изменение записи" class="btn btn-primary btn-xs pull-left">
                                    Изменить
                                </a>
                                <a href="#" ng-click="deleteSubscriber(item)" title="Удаление записи" class="btn btn-danger btn-xs pull-left">
                                    Удалить
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                Отображать <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option>
                <option>20</option><option>30</option><option>40</option><option>50</option></select> записей на странице.
                <ul uib-pagination total-items="subscriberFun.length" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize"
                                class="pagination-sm" boundary-links="true" ng-change="pageChanged()"></ul>
                <pre>Найдено абонентов: {{subscriberFun.length}}</pre>
                <div ng-controller="ModalCtrl">
                    <button type="button" class="btn btn-danger" ng-click="open()">Добавить новую запись</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
